<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Carousel</title>
</head>
<body>
  
  <styles>
    *{
    padding:0;
    margin: 0;
}

body, html{
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100px;
}

.container{
    max-width: auto;
    margin: 100px auto;
}

h1{
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

h1:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: white;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;    
}

.logo-slider .item{
    background-color: white;
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #111;
    align-items: center ;
}

.logo-slider .slick-slide{
    margin: 15px;
}

.slick-dots li.slick-active button:before{
    color: #ff5722;
}

.slick-dots li button:before{
    font-size: 12px;
}
  </styles>
    <div class="container">
        <h1> Trusted By </h1>
    <div class="logo-slider">
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo7.jpg?v=1658292247" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo6.jpg?v=1658292247" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo5.webp?v=1658292247" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo4.jpg?v=1658292247" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo3.png?v=1658292247" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo2.webp?v=1658292248" alt= ""> </a></div>
        <div class="item"><a href="#"><img src="https://cdn.shopify.com/s/files/1/0589/2807/0792/files/logo1.png?v=1658292248" alt= ""> </a></div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('.logo-slider').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
});
	
    </script>
</body>
</html>


{% schema %}
  {
    "name": "logos",
    "settings": [],
    "presets":[
    {
"name": "logos",
"category": "ADVANCED LAYOUT"
}
    ]
  }
{% endschema %}